{% extends "layouts/_layout.html" %} {% block content %} 

<main>
  {% include "partials/_header.html" %}
	{% include "sections/_introduction.html" %}
	{% include "sections/_category.html" %}
	{% include "sections/_about.html" %}
	{% include "sections/_singers.html" %}
	{% include "sections/_schedule.html" %}
	{% include "sections/_tier.html" %}
	{% include "sections/_sponsors.html" %}
	{% include "sections/_testimonials.html" %}
	{% include "sections/_best-shots.html" %}
	{% include "sections/_forms.html" %}
	{% include "partials/_footer.html" %} 
</main>


{% endblock %}
