<section class="introduction">
  <div class="container">
    <div class="introduction__wrapper">
      <h1 class="introduction__title">
        The Best experience of <span class="introduction__title_special"> music</span> in
        2021
      </h1>
      <p class="introduction__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae
        ligula placerat, eleifend ex non, vehicula libero. Suspendisse eget tellus
        lectu
      </p>
      <div class="introduction__buttons">
        <a class="introduction__btn-start" href="#">Get Started</a>
        <a class="introduction__btn-watch" href="#">
          {{mixins.icon('play')}} Watch Video
        </a>
      </div>
    </div>
  </div>
  <div class="introduction__timer">
    <div>
    <span class="timer__item timer__days">00</span>
    <span class="timer__item timer__hours">00</span>
    <span class="timer__item timer__minutes">00</span>
    <span class="timer__item timer__seconds">00</span>
  </div>
</section>
