<section class="singers">
  <img src="img/singers-confetti.png" class="singers__background-img"/>
  <img src="img/singers-confetti1.png" class="singers__background-img"/>
  <img src="img/singers-confetti2.png" class="singers__background-img"/>
  <div class="container f">
    <div class="singers__text">
      <h2 class="singers__title">Singers</h2>
      <p class="singers__descr">Fusce justo mi, vehicula id arcu et, dapibus tristique lectus. Vivamus a elit sodales, tincidunt nunc non, maximus lacus. Fusce a augue sed dolor auctor iaculis vitae id mauris. Integer ut lectus non neque suscipit luctus. Mauris et erat id ipsum condimentum cursus. Sed tempus enim non massa mattis iaculis. In quis massa risus</p>
      <a class="singers__btn">View All Singers{{mixins.icon('arrow')}}</a>
    </div>
    <div class="singers__img">
      <div class="singers__img_wrapper-top">
        <img src="img/jpg/signers_1.jpg"/>
        <img src="img/jpg/signers_2.jpg"/>
      </div>
      <div class="singers__img_wrapper-bottom">
        <img src="img/jpg/signers_3.jpg"/>
        <img src="img/jpg/signers_4.jpg"/>
      </div>
    </div>
  <div>
</section>