{% set 
  list = [
    {
      title: 'Lorem Ipsum Amet',
      img: 'shot',
      like: '411',
      comments: '140',
      hashtags: '#music #concert #conference #london #event #artist #dj #soundtrack #dance'
    },
    {
      title: 'Lorem Ipsum Amet',
      img: 'shot_1',
      like: '412',
      comments: '142',
      hashtags: '#music #concert #conference #london #event #artist #dj #soundtrack #dance'
    },
    {
      title: 'Lorem Ipsum Amet',
      img: 'shot_2',
      like: '415',
      comments: '141',
      hashtags: '#music #concert #conference #london #event #artist #dj #soundtrack #dance'
    },
    {
      title: 'Lorem Ipsum Amet',
      img: 'shot_3',
      like: '419',
      comments: '149',
      hashtags: '#music #concert #conference #london #event #artist #dj #soundtrack #dance'
    },
    {
      title: 'Lorem Ipsum Amet',
      img: 'shot_4',
      like: '422',
      comments: '145',
      hashtags: '#music #concert #conference #london #event #artist #dj #soundtrack #dance'
    }
  ] 
%}