{% set 
  list1 = [
    {
      time: '11:00 AM to 12:00 PM',
      content: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus.', 
      status: 'Preview',
      svg: 'play-2',
      speakers: [
        {
          img: 'speaker_Yui',
          name: 'Yui Ronald',
          booth: '2F12'
        }
      ]
    },
    {
      time: '12:00 PM to 03:00 PM',
      content: 'Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae, fringilla id magna. Vestibulum ornare eget urna nec pulvinar. Praesent porttitor convallis blandit. Fusce vel egestas dolor. Donec eu augue enim. Donec rutrum non lacus ac rhoncus. Morbi quis luctus leo, nec cursus ex.', 
      status: 'Live',
      svg: 'live',
      class: '_live',
      speakers: [
        {
          img: 'speaker_Bob',
          name: 'Bob John',
          booth: '3G12'
        },
        {
          img: 'speaker_Yui',
          name: 'Yui Ronald',
          booth: '2F12'
        },
        {
          img: 'speaker_Emma',
          name: 'Emma Satoshi',
          booth: '2A35'
        }
      ]
    },
    {
      time: '03:00 PM to 04:00 PM',
      content: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus.', 
      status: 'Upcoming',
      svg: 'clock',
      speakers: [
        {
          img: 'speaker_Sasha',
          name: 'Sasha Jackson',
          booth: '2F18'
        },
        {
          img: 'speaker_Diana',
          name: 'Diana Brock',
          booth: '2F24'
        }
      ]
    }
  ] 
%}

{% set 
  list2 = [
    {
      time: '11:00 AM to 12:00 PM',
      content: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus.', 
      status: 'Preview',
      svg: 'play-2',
      speakers: [
        {
          img: 'speaker_Sasha',
          name: 'Sasha Jackson',
          booth: '2F18'
        },
        {
          img: 'speaker_Diana',
          name: 'Diana Brock',
          booth: '2F24'
        }
      ]
    },
    {
      time: '12:00 PM to 03:00 PM',
      content: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus.', 
      status: 'Live',
      svg: 'live',
      class: '_live',
      speakers: [
        {
          img: 'speaker_Yui',
          name: 'Yui Ronald',
          booth: '2F12'
        }
      ]
    },
    {
      time: '03:00 PM to 04:00 PM',
      content: 'Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae, fringilla id magna. Vestibulum ornare eget urna nec pulvinar. Praesent porttitor convallis blandit. Fusce vel egestas dolor. Donec eu augue enim. Donec rutrum non lacus ac rhoncus. Morbi quis luctus leo, nec cursus ex.', 
      status: 'Upcoming',
      svg: 'clock',
      speakers: [
        {
          img: 'speaker_Bob',
          name: 'Bob John',
          booth: '3G12'
        },
        {
          img: 'speaker_Yui',
          name: 'Yui Ronald',
          booth: '2F12'
        },
        {
          img: 'speaker_Emma',
          name: 'Emma Satoshi',
          booth: '2A35'
        }
      ]
    }
  ] 
%}

{% set 
  list3 = [
    {
      time: '11:00 AM to 12:00 PM',
      content: 'Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae, fringilla id magna. Vestibulum ornare eget urna nec pulvinar. Praesent porttitor convallis blandit. Fusce vel egestas dolor. Donec eu augue enim. Donec rutrum non lacus ac rhoncus. Morbi quis luctus leo, nec cursus ex.', 
      status: 'Preview',
      svg: 'play-2',
      speakers: [
        {
          img: 'speaker_Bob',
          name: 'Bob John',
          booth: '3G12'
        },
        {
          img: 'speaker_Yui',
          name: 'Yui Ronald',
          booth: '2F12'
        },
        {
          img: 'speaker_Emma',
          name: 'Emma Satoshi',
          booth: '2A35'
        }
      ]
    },
    {
      time: '12:00 PM to 03:00 PM ',
      content: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus.', 
      status: 'Live',
      svg: 'live',
      class: '_live',
      speakers: [
        {
          img: 'speaker_Sasha',
          name: 'Sasha Jackson',
          booth: '2F18'
        },
        {
          img: 'speaker_Diana',
          name: 'Diana Brock',
          booth: '2F24'
        }
      ]
    },
    {
      time: '03:00 PM to 04:00 PM ',
      content: 'Vestibulum vel eros vel metus lacinia feugiat a nec metus.', 
      status: 'Upcoming',
      svg: 'clock',
      speakers: [
        {
          img: 'speaker_Yui',
          name: 'Yui Ronald',
          booth: '2F12'
        }
      ]
    }
  ] 
%}