.icon-adress {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chat {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dropdown {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-email {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.54em;
  height: 1em;
  fill: initial;
}
.icon-folk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instrumental {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-jazz {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linked {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-live {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 4.17em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pop {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-Vector {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
